services:
  postgres:
    image: 'postgres:17.7'
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      POSTGRES_DB: postgres
    volumes:
      - 'postgres_data:/var/lib/postgresql/data'
    networks:
      coolify-shared:
        aliases:
          - postgres
    healthcheck:
      test:
        - CMD-SHELL
        - 'pg_isready -U postgres -d postgres'
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped
volumes:
  postgres_data: null
networks:
  coolify-shared:
    external: true
